<mat-card>
  <mat-card-title style="margin-left: 40%">Login</mat-card-title>
  <mat-card-content>
    <div style="display: flex; justify-content: center; align-items: center">
      <form>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" name="email" matInput [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            matInput
            [(ngModel)]="password"
          />
        </mat-form-field>
      </form>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="margin-top: 5%; margin-left: 30%"
      (click)="log()"
    >
      Login
    </button>
  </mat-card-content>
</mat-card>
