.background{
    /*background-image: url("https://i.pinimg.com/originals/6b/6e/6a/6b6e6ad625caf5cfe546a67a2f545231.gif");*/
    background-color: cadetblue;
    height: 800px;
  width: 100%;
}

/* Footer css */
.footer{
    height: 100px;
    width: 25%;
    align-items: center;
    float:left;
    right: 150px;
    
}
.copyright{
    float:left;
    right:150px;

}